## Pandas

- Pandas stands for Panel Data
- Core library for data manipulation & data analysis
- Consists of:
    - Single-dimensional data structures(Series Object) & 
    - Multi-dimensional data structures(Data-frame Object) for data-manipulation
   
- Can be installed using `pip install pandas`

### SERIES OBJECT

In [1]:
##IMPORT
import pandas as pd

In [2]:
## SERIES OBJECT
s1 = pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
type(s1)

pandas.core.series.Series

In [4]:
## WE CAN ADD INDEX AS WELL
s2 = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [5]:
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [6]:
## CREATING SERIES FROM A DICTIONARY
my_dict = {
    'k1' : 11,
    'k2' : 22,
    'k3' : 33,
    'k4' : 44,
    'k5' : 55,
}

s3 = pd.Series(my_dict)
print(s3)

k1    11
k2    22
k3    33
k4    44
k5    55
dtype: int64

### Pandas Dataframe Object

In [8]:
students = {
            "Name":["Usman","Ali","Mujeeb"],
            "Marks":[70,90,98]
}

df1 = pd.DataFrame(students)

In [9]:
df1

     Name  Marks
0   Usman     70
1     Ali     90
2  Mujeeb     98

In [10]:
## HEAD FUNCTION
df1.head()

     Name  Marks
0   Usman     70
1     Ali     90
2  Mujeeb     98

### Read a CSV

In [17]:
df2 = pd.read_csv("data/iris.csv")

In [18]:
## HEAD - TOP 5 RESULTS
df2.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [19]:
## IF I WANT TO SEE TOP 10
df2.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [20]:
## LAST 5 ELEMENTS
df2.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [21]:
## LAST 10 RECORDS
df2.tail(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [22]:
## DESCRIBE ENTIRE DATA
df2.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

## SLICING

- iloc[] => index location (USES INDEX)
- loc => USES INDICES FOR ROWS & NAMES FOR COLUMNS

In [24]:
## iloc[row_num, col_num]
## row_num = 0:3 Get row 1,2,3
## col_num = 0:2 Get Column 1,2
## INDEXING ALWAYS START FROM 0
df2.iloc[0:3,0:2]

   Id  SepalLengthCm
0   1            5.1
1   2            4.9
2   3            4.7

In [25]:
## LETS GET ROWS => 0:20 & COLUMNS => - 0th Col & 4th Col only
df2.iloc[0:20,[0,4]]

    Id  PetalWidthCm
0    1           0.2
1    2           0.2
2    3           0.2
3    4           0.2
4    5           0.2
5    6           0.4
6    7           0.3
7    8           0.2
8    9           0.2
9   10           0.1
10  11           0.2
11  12           0.2
12  13           0.1
13  14           0.1
14  15           0.2
15  16           0.4
16  17           0.4
17  18           0.3
18  19           0.3
19  20           0.3

In [27]:
## LOC METHOD


## LETS GET FIRST 20 ROWS with 
# `SepalLengthCm` and `PetalLengthCm` column

df2.loc[0:20,("SepalLengthCm","PetalLengthCm")]

    SepalLengthCm  PetalLengthCm
0             5.1            1.4
1             4.9            1.4
2             4.7            1.3
3             4.6            1.5
4             5.0            1.4
5             5.4            1.7
6             4.6            1.4
7             5.0            1.5
8             4.4            1.4
9             4.9            1.5
10            5.4            1.5
11            4.8            1.6
12            4.8            1.4
13            4.3            1.1
14            5.8            1.2
15            5.7            1.5
16            5.4            1.3
17            5.1            1.4
18            5.7            1.7
19            5.1            1.5
20            5.4            1.7

### CONDITIONAL FETCHING

In [31]:
## GET COLUMNS WHERE `PetalLengthCm` is greater than 6
df2[df2["PetalLengthCm"] > 6]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
105,106,7.6,3.0,6.6,2.1,Iris-virginica
107,108,7.3,2.9,6.3,1.8,Iris-virginica
109,110,7.2,3.6,6.1,2.5,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica

In [46]:
condition1 = df2["PetalLengthCm"] > 3
condition2 = df2["Species"] == 'Iris-virginica'
df2[condition1 & condition2]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
100,101,6.3,3.3,6.0,2.5,Iris-virginica
101,102,5.8,2.7,5.1,1.9,Iris-virginica
102,103,7.1,3.0,5.9,2.1,Iris-virginica
103,104,6.3,2.9,5.6,1.8,Iris-virginica
104,105,6.5,3.0,5.8,2.2,Iris-virginica
105,106,7.6,3.0,6.6,2.1,Iris-virginica
106,107,4.9,2.5,4.5,1.7,Iris-virginica
107,108,7.3,2.9,6.3,1.8,Iris-virginica
108,109,6.7,2.5,5.8,1.8,Iris-virginica
109,110,7.2,3.6,6.1,2.5,Iris-virginica
110,111,6.5,3.2,5.1,2.0,Iris-virginica
111,112,6.4,2.7,5.3,1.9,Iris-virginica
112,113,6.8,3.0,5.5,2.1,Iris-virginica
113,114,5.7,2.5,5.0,2.0,Iris-virginica
114,115,5.8,2.8,5.1,2.4,Iris-virginica
115,116,6.4,3.2,5.3,2.3,Iris-virginica
116,117,6.5,3.0,5.5,1.8,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
119,120,6.0,2.2,5.0,1.5,Iris-virginica
120,121,6.9,3.2,5.7,2.3,Iris-virginica
121,122,5.6,2.8,4.9,2.0,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
123,124,6.3,2.7,4.9,1.8,Iris-virginica
124,125,6.7,3.3,5.7,2.1,Iris-virginica
125,126,7.2,3.2,6.0,1.8,Iris-virginica
126,127,6.2,2.8,4.8,1.8,Iris-virginica
127,128,6.1,3.0,4.9,1.8,Iris-virginica
128,129,6.4,2.8,5.6,2.1,Iris-virginica
129,130,7.2,3.0,5.8,1.6,Iris-virginica
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
132,133,6.4,2.8,5.6,2.2,Iris-virginica
133,134,6.3,2.8,5.1,1.5,Iris-virginica
134,135,6.1,2.6,5.6,1.4,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
136,137,6.3,3.4,5.6,2.4,Iris-virginica
137,138,6.4,3.1,5.5,1.8,Iris-virginica
138,139,6.0,3.0,4.8,1.8,Iris-virginica
139,140,6.9,3.1,5.4,2.1,Iris-virginica
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica